:host {
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

    h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }

    .coach-info {
      margin-top: 20px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .class-info {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
    }

    p {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }


}
