:host {
  mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0;
    z-index: 1000;

    mat-toolbar-row {
      display: flex;
      justify-content: space-between;

      img{
        &:nth-of-type(2) {
          border-radius: 50%;
        }
      }
    }
  }

}

